<ion-view view-title="MonkeyVPN Traffic" class="content-background-color" hide-back-button="true">
    <ion-nav-title>
        <div class="title page-title" >
            <div class="title text-center monkey-vpn-title">monkey<b>vpn</b><span class="tm-symbol light-grey-text">&trade;<span></div>
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button  class="button button-icon ion-android-close" style="color: #33cd5f" ng-click="goPrevPage()"></button>
    </ion-nav-buttons>
    <ion-content class="padding" has-bouncing="false">
        <div class="buySubscriptionCon">
            <div class="topHeader page-title">Get Unlimited Traffic</div>
            <button class="button button-block monkey-button-balanced">
                Buy 1 Month Subscription at 4.99$
            </button>
            <button class="button button-block monkey-button-balanced">
                Buy 6 Month Subscription at 24.99$
            </button>
            <button class="button button-block monkey-button-balanced">
                Buy 1 Year Subscription at 39.99$
            </button>
            <div href="" ng-click="gotoLogin()"class="smallCenterLabel monkey-link text-center">Already have a monkeyvpn.com account?</div>
        </div>
        <div class="promoCon">
            <div class="topHeader text-center light-grey-text">Or</div>
            <div class="topHeader text-center earn-text">Earn 500MB free for each of the below</div>
            <button class="button button-block monkey-button-balanced">
                Rate monkeyvpn App
            </button>
            <button class="button button-block monkey-button-balanced">
                Invite Friend
            </button>
        </div>
    </ion-content>
</ion-view>