<ion-view view-title="MonkeyVPN" class="content-background-color" hide-back-button="true">
    <ion-nav-title>
        <div class="title page-title" >
            <div class="title text-center monkey-vpn-title">monkey<b>vpn</b><span class="tm-symbol light-grey-text">&trade;<span></div>
        </div>
        <div class="buttons  pull-right">
            <button  class="button button-icon ion-android-close" style="color: #33cd5f" ng-click="goPrevPage()"></button>
        </div>
    </ion-nav-title>
    <ion-content class="padding" has-bouncing="false">
        <div class="loginCon input-width input-center">
            <img src="img/monkey.png" class="img-center">
            <div class="topLabelText text-center">Claim your free 500MB</div>
            <div class="signup-confirm-text">Simply click the Claim link in the Email<br>we just sent you to claim your 500MB</div>
            <div class=" text-center">
                <button class="button button-rounded monkey-button-balanced button-width signup-now">Open Mail</button>
            </div>
        </div>
    </ion-content>
</ion-view>

